<form action="/olympics/<%= @olympics.id %>" method="POST">
  <div>
    <label>Host City</label>
    <input type="text" name="host_city" placeholder="Enter a host city" value="<%= @olympic.host_city %>">
  </div>

  <div>
    <label>Olympic Year</label>
    <input type="text" name="year" placeholder="Enter a year" value="<%= @olympic.year %>">
  </div>

  <div>
    <input type="submit" value="Save Olympics">
  </div>
  <% if(@olympic.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
