
<h1>History of the Olympic Games</h1>

<% @olympics.each do |olympic| %>
<div>
  <h3><a href="/olympics/<%= @olympic.id %>"><%= olympic.host_city %></a></h3>
  <p><%= olympic.olympic_year %></p>
</div>
<% end %>
