<h1><%= @olympic.host_city %></h1>
<p><%= @olympic.olympic_year %></p>
<a href="/olympics/<%= @olympic.id %>/edit">Edit</a>

<form action="/olympics/<%= @olympic.id %>" method="post">
  <input type="submit" value="Delete">
  <input type="hidden" name="_method" value="DELETE">
</form>
