<form action="/worldcup/<%= @worldcup.id %>" method="POST">
  <div>
    <label>Host Country</label>
    <input type="text" name="host" placeholder="Enter a host country" value="<%= @worldcup.host %>">
  </div>

  <div>
    <label>Tournament Year</label>
    <input type="text" name="year" placeholder="Enter a year" value="<%= @worldcup.year %>">
  </div>

  <div>
    <label>Tournament Winner</label>
    <input type="text" name="winner" placeholder="Enter a winner" value="<%= @worldcup.winner %>">
  </div>

  <div>
    <input type="submit" value="Save WorldCup">
  </div>
  <% if(@worldcup.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
