
<h1>History of the FIFA World Cup</h1>

<% @worldcups.each do |worldcup| %>
<div>
  <h3><a href="/worldcup/<%= worldcup.id %>"><%= worldcup.host %></a></h3>
  <h4><%= worldcup.year %></h4>
</div>

<div>
  <img src="/Users/tech-a46/Desktop/Core/ServerSide/RubyFramework/Sparta-Sinatra-Weekend-HW/2018-fifa-world-cup-logo.gif">
</div>

<% end %>
